body {
  background-color: lightblue;
}

.container {
  border-style: solid;
  border-width: 2px;
  border-radius: 25px;
  border-color: orange;
  margin: auto;
  width: 50%;
  text-align: center;
  margin-top: 5%;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: sans-serif;
}

.button-green {
  background-color: darkgreen;
  border-style: solid;
  border-color: darkgreen;
  border-radius: 5px;
  padding: 18px;
  font-size: 18px;
  color: white;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  transition-duration: 0.4s;
}

.button-green:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.lbl {
  font-weight: bold;
}

.form-padding {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
}

.input-container {
  padding: 10px;
}

.button-red {
  background-color: darkred;
  border-style: solid;
  border-color: darkred;
  border-radius: 5px;
  padding: 18px;
  font-size: 18px;
  color: white;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
  transition-duration: 0.4s;
}

.button-red:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

.table-padding {
  padding: 30px;
  width: 80%;
}

th {
  border: 3px solid;
}

td {
  border: 1px solid;
}

.small {
  font-size: 14px;
  padding: 0px;
  width: 100px;
  height: 30px;
  text-align: center;
}

.mrgn-up {
  margin-top: 15px;
}

.mrgn-down {
  margin-bottom: 15px;
}

.long-width {
  width: 300px;
}

.longer-width {
  width: 90%;
}

.short-width {
  width: 25%;
}

.r-view-padding {
  margin: auto;
  width: 90%;
}

.btn-margin {
  margin-left: -25px;
  margin-right: -25px;
}

.table-margin {
  margin: auto;
  width: 90%;
  text-align: center;
}

.table-padding-down {
  padding-bottom: 5%;
}
